.container {
  margin: 100px auto;
  width: 600px;
}

.slider-group {
  display: flex;
  align-items: center;
}

.slider-item {
  margin: 40px;
  width: 300px;
}

.results {
  margin-top: 120px;
}
.result {
  font-size: 20px;
  margin: 20px;
}
